* {
  /* border: 2px solid black; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

html {
  height: 100%;
  width: 100%;
}

.food-images-section > img {
  height: 200px;
  width: 280px;
  border: 1px solid black;
  shadow: 10px;
}

header {
  font-family: Impact, fantasy;
  font-size: 25px;
  background-color: #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  border-bottom: 1px solid black;
}

body {
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

li {
  list-style-type: none;
}
button {
  padding: 10px;
  box-shadow: 4px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  opacity: .7;
}

.display-recipe > h1, h2, h3, p, {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
}
.recipe-main-image {
  border: 1px solid black;
  shadow: 10px;
}

.search-btn, .favorites-btn, .recipes-to-cook-btn,
.favorite-search-btn, .recipes-to-cook-from-favorites-btn {
 padding: 10px;
 box-shadow: 4px;
 border-radius: 5px;
}

.search-btn, .favorites-btn, .recipes-to-cook-btn,
.favorite-search-btn, .recipes-to-cook-from-favorites-btn {
  background-color: white;
}

.searchbar, .favorite-searchbar {
  padding: 10px;
  box-shadow: 4px;
  border-radius: 5px;
}

.food-images-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 200px;
}
.view-all-btn {
  padding: 10px;
  box-shadow: 4px;
  border-radius: 5px;
}

.to-cook-button-area, .favorite-btn-area {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.below-food-images {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
}
.home-page-styling {
  padding-top: 90px;
}

.favorite-recipe-styling, .recipes-to-cook-styling, .filtered-recipe-styling {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;

}
.filter-favorites-dropdown > button, select, label {
  /* height: 50px; */
  padding: 10px;
  box-shadow: 4px;
  border-radius: 5px;
}

.filter-recipe-btn, .filter-recipes-btn {
  padding: 10px;
  box-shadow: 4px;
  border-radius: 5px;
}

.unfavorite-btn {
  margin-right: 10px;
}

.all-recipe-list {
  display: flex;
  align-items: left;
  margin-left: 35%;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.all-recipes, .filter-favorites-dropdown {
  padding-top: 10px;
}

.home-btn {
  cursor: pointer;
}


.recipe-in-list:hover, .favorite-recipe-styling:hover,
.recipes-to-cook-styling:hover, .filtered-by-tag-area:hover {
  cursor: pointer;
  opacity: .7;
}

.display-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.hidden {
  display: none;
}
